<div class="d-flex align-items-center justify-content-between">
    <h4>Criação de Produtos</h4>
    <h4><a href="/products"><i class="bi bi-arrow-left-square"></i></a></h4>
</div>
<div class="row">
    <div class="col-6">
        <form action="/products/create" method="post">
            {{> productForm}}
        </form>
    </div>
</div>
