<div class="d-flex align-items-center justify-content-between">
    <h4>{{product.name}}</h4>
    <h4><a href="/products"><i class="bi bi-arrow-left-square"></i></a></h4>
</div>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <p class="card-text"><strong>Preço: </strong>{{product.price}}</p>
    <p class="card-text"><strong>Estoque: </strong>{{product.stock}}</p>
    <a href="/product/update/{{product.id}}" class="card-link"><i class="bi bi-pencil"></i></a>
  </div>
</div>