body {
    background-color: white;
    margin: 0;
    display: flex;
    justify-content: center; 
    padding-top: 50px;       
}

div{
            width: 95%;
            max-width: 1200px; 
            border: 15px solid black;
            border-radius: 30px 100px 30px 100px;
            background-color: rgb(173, 173, 173);
            padding: 30px 40px;
            margin: 20px auto;
            font-size: 25pt;
            font-family: serif;
        }