<div class="mb-3">
                <label for="name" class="form-label">Nome do produto</label>
                <input type="text" class="form-control" id="name" name="name" value="{{product.name}}"/>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Preço do produto</label>
                <input type="text" class="form-control" id="price" name="price" value="{{product.price}}"/>
            </div>
            <div class="mb-3">
                <label for="stock" class="form-label">Estoque do produto</label>
                <input type="text" class="form-control" id="stock" name="stock" value="{{product.stock}}"/>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>