*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    gap: 10px;
    width: 100vw;
    height: 100vh;
    padding: 10px;
    background-color: white;
    border: 1px solid #bdbdbd;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.18);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "vermelho vermelho azul azul"
      "verde roxo roxo roxo"
      "laranja laranja laranja laranja";
}

.container > div {
    border-radius: 4px;
}

.vermelho {
    grid-area: vermelho;
    background-color: #a80000;
}

.azul {
    grid-area: azul;
    background-color: #000061;
}

.verde {
    grid-area: verde;
    background-color: #008000;
}

.roxo {
    grid-area: roxo;
    background-color: #a000a8;
}

.laranja {
    grid-area: laranja;
    background-color: #ff9800;
}