*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    gap: 10px;
    width: 100vw;
    height: 100vh;
    padding: 10px;
    background-color: white;
    border: 1px solid #bdbdbd;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.18);
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.container > div{
    border-radius: 4px;
}

.amarelo{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    background-color: rgb(245, 234, 30);
}

.rosa{
    grid-column: 1 / 2; 
    grid-row: 2 / 4;
    background-color: palevioletred;
}

.cinza{
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    background-color: gray;
}

.roxo{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background-color: rgb(221, 96, 252);
}

.azul{
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    background-color: rgb(93, 93, 245);
}
